.bg-container {
    height: 100vh;
    background-color: #f1f5f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    text-align: center;
  }
  .counter-heading {
    font-size: 50px;
    font-family: "Roboto";
    font-weight: 800;
    text-align: center;
  }
   
  .counter-value {
    font-size: 75px;
    font-weight: 900;
    font-family: "roboto";
    margin-top: -20px;
    margin-bottom: -5px;
  }

  .button {
    margin: 8px;
    border-radius: 7px;
    padding: 5px;
    border-width: 2px;
    border-color: black;
    background-color: #f1f5f8;
  }
  .input {
    height:30px;
    width: 200px;
    border-radius: 7px;
    padding: 5px;
    border:solid 2px black;
    padding-left: 20px;
  }
  .result-value {
    font-size: 30px;
    font-weight: 900;
    font-family: "roboto";
  }